<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SinavSistemi.Properties.Settings.sinav_sistemiConnectionString"
            connectionString="Data Source=DESKTOP-K4L20RV;Initial Catalog=sinav-sistemi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SinavSistemi.Properties.Settings.sinavSistemiConnectionString"
            connectionString="Data Source=DESKTOP-K4L20RV;Initial Catalog=sinavSistemi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>